* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

header {
  margin-top: 5%;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1em;
}

.cajaGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin: 1% 20%;
}

.datosPersonales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 15px 30px;
  grid-column: 1/5;
}

.datosPersonales li {
  color: initial;
  font-size: 30px;
}

.datosPersonales img {
  height: 150px;
}

.AptitudesInformaticas {
  display: flex;
  background-color: cadetblue;
  grid-column: 1/4;
  text-align: center;
}

.AptitudesInformaticas div {
  flex-basis: 50%;
  margin: 25px;
}

.AptitudesInformaticas h4 {
  margin-bottom: 10px;
}

.frontend {
  font-size: 2em;
}

.AptitudesInformaticas li {
  line-height: 2em;
}

.educacion {
  background-color: darkslateblue;
  grid-column: 1/4;
}

.experienciaLaboral {
  background-color: navy;
  grid-column: 1/4;
}

.otrasAptitudes {
  background-color: mediumseagreen;
  grid-column: 4;
  grid-row: 2/5;
}

.contacto {
  display: flex;
  justify-content: center;
}

.contacto li {
  margin: 5px 8px;
}
