.aptitudes {
  background-color: darkseagreen;
  color: black;
  grid-column: 6/9;
  grid-row: 4/7;
}

.aptitudes div {
  margin: 15% 10%;
}

.aptitudes h4 {
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

.aptitudes li {
  line-height: 2em;
}

@media screen and (min-width: 769px) {
  .aptitudes {
    grid-column: 7/9;
  }
}
