.aptitudes {
  background-color: mediumseagreen;
  grid-column: 4;
  grid-row: 3/5;
}

.aptitudes div {
  margin: 15% 10%;
}

.aptitudes h4 {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.aptitudes li {
  line-height: 2em;
}