.datosPersonales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 15px 30px;
  grid-column: 1/5;
}

.datosPersonales li {
  color: initial;
  font-size: 1.8em;
  line-height: 1.5em;
}

.datosPersonales img {
  height: 100px;
  /* height: 170px; tamaño pc*/
  border-radius: 15px;
}

.datosPersonales i:hover {
  color: white;
}