.datosPersonales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 10px 15px;
  grid-column: 1/9;
}

.datosPersonales li {
  color: initial;
  font-size: 1.5em;
  line-height: 1.5em;
}

.datosPersonales img {
  height: 9em;
  border-radius: 15px;
}

.datosPersonales i:hover {
  color: white;
}

@media screen and (min-width: 460px) {
  .datosPersonales {
    padding: 15px;
  }
}

@media screen and (min-width: 769px) {
  .datosPersonales {
    padding: 25px 40px;
  }
}