.datosPersonales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  grid-column: 1/9;
}

.datosPersonales li {
  font-size: 1.5em;
  line-height: 1.5em;
}

.datosPersonales img {
  display: none;
  height: 9em;
  border-radius: 15px;
}

@media screen and (min-width: 460px) {
  .datosPersonales {
    padding: 15px;
  }

  .datosPersonales img {
    display: initial;
  }
}

@media screen and (min-width: 769px) {
  .datosPersonales {
    padding: 25px 40px;
  }
}