.mainGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 1% 20%;
}

.datosPersonales,
.programacion,
.educacion,
.experienciaLaboral,
.otrasAptitudes {
  border-radius: 10px;
}
